<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
   
   
    <link rel="stylesheet" href="/styles/importer.css">
    
  </head>

  <body>
    <%- body %>
 
    <script src="/dependencies/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
   
    <script src="/js/main.js"></script>
  
  </body>
</html>
